{
  "server": true,
  "ui": true,
  "addresses": {
    "http": "0.0.0.0"
  },
  "bind_addr": "@@BIND_ADDR@@",
  "data_dir": "/data/consul",
  "log_level": "debug",
  "bootstrap_expect": 1,
  "enable_script_checks": true,
  "connect": {
    "enabled": true
  }
}
