upstream site {
    server localhost:8443;
}

upstream admin {
    server localhost:8444;
}

server {
    listen 443 ssl;
    server_name proxy;

    ssl on;
    ssl_certificate /etc/nginx/ssl/local-cert.pem;
    ssl_certificate_key /etc/nginx/ssl/local-key.pem;

    location / {
        proxy_pass https://site/;
	proxy_redirect https://site/ https://$host/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }

    location /admin/ {
        proxy_pass https://admin/admin/;
	proxy_redirect https://admin/admin/ https://$host/admin/;
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
    }
}
